<!-- page content -->
<side-bar></side-bar>
<topnav-bar></topnav-bar>
<div class="right_col " role="main" style="min-height:1675px">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <h2>Chart</h2>
        <form [formGroup]="facilityForm" (ngSubmit)="Submit()">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Facility Name</label>
            <div class="col-sm-8">
              <select class="custom-select" formControlName="facilityId" (change)="GetServicePoint($event)">
                <option value="">Choose Facility Name</option>
                <option *ngFor="let facility of facilitys" [value]="facility.facilityId">{{facility.facilityName}}</option>
              </select>             
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Service Point Name</label>
            <div class="col-sm-8">
              <select class="custom-select" formControlName="servicePointId">
                <option value="">Choose Service Point Name</option>
                <option *ngFor="let service of Servicelist" [value]="service.servicePointId">{{service.servicePointName}}</option>
              </select>           
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">
              Province Name
            </label>
            <div class="col-sm-8">
              <select class="custom-select" (change)="GetDistrictId($event.target.value)" formControlName="provinceId">
                <option value="">Choose Province Name</option>
                <option *ngFor="let province of provinceList" [value]="province.provinceId">{{province.provinceName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">
              District Name
            </label>
            <div class="col-sm-8">
              <select class="custom-select" formControlName="districtId">
                <option value="">Choose District Name</option>
                <option *ngFor="let district of districtList" [value]="district.districtId">{{district.districtName}}</option>
              </select>              
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Get Record</button>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <br />
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <div class="x_panel">
          <div class="x_title">
            <h2>Active Clients</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link activeclient" (click)="show($event)"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" id="activeclients">
            <div *ngIf="clientPastMyChart">
              <canvas id="clientPastcanvas">{{ clientPastMyChart }}</canvas>
            </div>
            <select class="custom-select" id="chartType" (change)="updateVisitPostChartType($event.target.value)">
              <option value="line">Line</option>
              <option value="pie">Pie</option>
              <option value="bar">Bar</option>
              <option value="radar">Radar</option>
              <option value="polarArea">Polar Area</option>
              <option value="doughnut">Doughnut</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<custom-footer></custom-footer>
<!-- /page content -->
