<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <h1>Login Form</h1>
          <div>
            <input type="text" name="email" class="form-control txtlogin" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Email" required [pattern]="emailPattern">
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required" style="float: right;margin: 10px;">
                Email required.
              </div>
              <div *ngIf="email.errors.pattern" style="float: right;margin: 10px;">
                Email not valid.
              </div>
            </div>
          </div>
          <div>
            <input type="password" name="password" class="form-control txtlogin" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required placeholder="Password">
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required" style="float: right">Password is required</div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-default submit">Login</button>
          </div>
        </form>
        <div *ngIf="showErrorMessage" class="alert alert-warning">
          <h4>Invalid username and password. Please try again!</h4>
        </div>
      </section>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>


