<!-- page content -->
<side-bar></side-bar>
<topnav-bar></topnav-bar>
<div class="right_col " role="main" style="min-height:1675px">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
<br />
        <form [formGroup]="clientForm" (ngSubmit)="Submit()">
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="firstName">
              Search Client
            </label>
            <div class="col-md-6 col-sm-6 ">
              <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && g.firstName.errors }" />
              <div *ngIf="isSubmitted && g.firstName.errors" class="invalid-feedback">
                <div *ngIf="g.firstName.errors.required">Enter ArtNo or Client Name</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
          <div class="clearfix"></div> 
         
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <h3>Patient Information</h3>
        <p>
          <a [routerLink]="" (click)="CreateAppointment(appointmentModal, appointmentCreate)" style="float: right;padding: 20px;font-weight: bold;"><i class="icons fa fa-plus" title="Add Client"> Client</i></a>
        </p>
        <table class='table'>
          <thead>
            <tr>
              <th>Display</th>
              <th>ClientID </th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Art No</th>
              <th>Phone Number</th>
              <th>Facility</th>
              <th>Enrollment Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="this.clientData?.length == 0">
              <td colspan="7" class="text-center font-weight-bolder" style="font-size: xx-large;color: grey"> NO RECORD FOUND</td>
            </tr>
            <tr *ngFor="let client of this.clientData">
              <td>{{client.clientId}}</td>
              <td>{{client.firstName}}</td>
              <td>{{client.lastName}}</td>
              <td>{{client.artNo}}</td>
              <td>{{client.clientPhoneNo}}</td>
              <td>{{client.facility}}</td>
              <td>{{client.enrollmentDate}}</td>

            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>
<custom-footer></custom-footer>
<!-- /page content -->
