<!-- page content -->
<side-bar></side-bar>
<topnav-bar></topnav-bar>
<div class="right_col " role="main" style="min-height:1675px">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <h2>Facility Management </h2>
        <p>
          <a [routerLink]="" (click)="CreateFacility(facilityProfileModal, facilityscreate)" style="float: right;padding: 20px;font-weight: bold;"><i class="icons fa fa-plus" title="Create Facility"> Facility</i></a>
        </p>
        <table class='table'>
          <thead>
            <tr>
              <th>Facility Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="this.facilitys?.length == 0">
              <td colspan="2" class="text-center font-weight-bolder" style="font-size: xx-large; color:grey;"> NO RECORD FOUND</td>
            </tr>
            <tr *ngFor="let user of this.facilitys">
              <td>{{user.facilityName}}</td>
              <td>
                <a [routerLink]="" (click)="CreateServicePoint(editProfileModal , user)"><i class="icons fa fa-plus" title="Add Service Point"> Service Point</i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <br />
</div>

<custom-footer></custom-footer>
<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Assign Service Point</h5>
    <button type="button" class="close pull-right" (click)="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="facilityForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Facility Name</label>
        <div class="col-sm-8">
          <input disabled="disabled" type="text" class="form-control" formControlName="facilityName" id="facilityName">
        </div>
      </div>
      <div class="form-group row">
        <label for="servicePointName" class="col-sm-4 col-form-label">Service Point Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid':  submitted && f.servicePointName.errors }" formControlName="servicePointName" id="servicePointName">
          <div *ngIf=" submitted && f.servicePointName.errors" class="invalid-feedback">
            <div *ngIf="f.servicePointName.errors.required">Service Point Name is required</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <table class='table'>
          <thead>
            <tr>
              <th>Facility Name</th>
              <th>Service Point Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="this.Servicelist?.length == 0">
              <td colspan="3" class="text-center font-weight-bolder" style="font-size: xx-large; color:grey;"> NO RECORD FOUND</td>
            </tr>
            <tr *ngFor="let facilityserviceduser of  this.Servicelist">
              <td>{{facilityserviceduser.facilityName}}</td>
              <td>{{facilityserviceduser.servicePointName}}</td>
              <td>
                <a [routerLink]="" (click)="EditServicePoint(facilityserviceduser)"><i class="icons fa fa-edit" title="Edit"></i></a>
                <a [routerLink]="" (click)="DeleteServicePoint(deleteservicepointModal , facilityserviceduser)"> <i class="icons fa fa-trash" title="Delete"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #facilityProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Assign Facility</h5>
    <button type="button" class="close pull-right" (click)="closepopup()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="facilityCreateForm" (ngSubmit)="Submit()">
      <div class="form-group row">
        <label for="facilityName" class="col-sm-4 col-form-label">Facility Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid':  isSubmitted && g.facilityName.errors}" formControlName="facilityName" id="facilityId">
          <div *ngIf=" isSubmitted && g.facilityName.errors" class="invalid-feedback">
            <div *ngIf="g.facilityName.errors.required"><sup>*</sup>Facility  Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">
          Province Name
        </label>
        <div class="col-sm-8 ">
          <select class="select2_group form-control" [ngClass]="{ 'is-invalid':  isSubmitted && g.provinceId.errors && provinceDefault===0}" formControlName="provinceId" (change)="GetDistrictId($event.target.value)">
            <option value="" disabled="disabled" [selected]="provinceDefault === 0">Select Province</option>
            <option *ngFor="let province of provinceList" [selected]="province.provinceId === provinceDefault" [value]="province.provinceId">{{province.provinceName}}</option>
          </select>
          <div class="invalid-feedback" *ngIf=" isSubmitted && g.provinceId.errors?.required && provinceDefault===0">
            <sup>*</sup>Provine Name is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">
          District Name
        </label>
        <div class="col-sm-8 ">
          <select class="select2_group form-control" [ngClass]="{ 'is-invalid':  isSubmitted && g.districtId.errors && districtDefault===0 }" formControlName="districtId" (change)="onchange($event.target.value)">
            <option value="" disabled="disabled" [selected]="districtDefault === 0">Select District</option>
            <option *ngFor="let district of districtList" [selected]="district.districtName === districtDefault" [value]="district.districtId">{{district.districtName}}</option>
          </select>
          <div class="invalid-feedback" *ngIf=" isSubmitted && g.districtId.errors?.required && districtDefault===0">
            <sup>*</sup>District Name is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="facilityContactNumber" class="col-sm-4 col-form-label">Facility Contact Number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid':  isSubmitted && g.facilityContactNumber.errors }" formControlName="facilityContactNumber">
          <div *ngIf=" isSubmitted && g.facilityContactNumber.errors && g.facilityContactNumber.invalid" class="invalid-feedback">
            <div *ngIf="g.facilityContactNumber.errors.required"><sup>*</sup>Facility Contact Number is required </div>
            <div *ngIf="g.facilityContactNumber.errors.pattern">Please, Enter 10 digit Facility Contact Number.</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closepopup()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <table class='table'>
          <thead>
            <tr>
              <th>Facility Name</th>
              <th>Distrinct Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="this.facilityUserlist?.length == 0">
              <td colspan="3" class="text-center font-weight-bolder" style="font-size: xx-large; color:grey;"> NO RECORD FOUND</td>
            </tr>
            <tr *ngFor="let districtlistuser of  this.facilityUserlist">
              <td>{{districtlistuser.facilityName}}</td>
              <td>{{districtlistuser.districtName}}</td>
              <td>
                <a [routerLink]="" (click)="EditProvince(districtlistuser)"><i class="icons fa fa-edit" title="Edit"></i></a>
                <a [routerLink]="" (click)="DeletePopUp(deletefacilityModal,districtlistuser)"><i class="icons fa fa-trash" title="Delete"></i></a>
              </td>

            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #deletefacilityModal let-modal >
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Delete Facility</h5>
    <button type="button" class="close pull-right" (click)="closedeletepopup()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="facilitydelete" (ngSubmit)="DeleteSubmited()">
      <div class="modal-body">
        <p>
          Please Assign New Facility for service point.
        </p>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">
          Facility Name
        </label>
        <div class="col-sm-8 ">
          <select class="select2_group form-control" [ngClass]="{ 'is-invalid':  deletesubmitted && d.facilityName.errors}" formControlName="facilityName" id="facilityId" (change)="DeleteonChange($event.target.value)">
            <option value="" disabled="disabled" [selected]="facilityDefault === 0">Select Facility Name</option>
            <option *ngFor="let facilityUser of facilityUserlist" [selected]="facilityUser.facilityId === facilityDefault" [value]="facilityUser.facilityId">{{facilityUser.facilityName}}</option>
          </select>
          <div class="invalid-feedback" *ngIf=" deletesubmitted && d.facilityName.errors?.required">
            <sup>*</sup>Facility Name is required
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closedeletepopup()">Close</button>
        <button type="submit" class="btn btn-danger">Ok</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #deleteservicepointModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Delete Service  Point</h5>
    <button type="button" class="close pull-right" (click)="closeservicepoint()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="servicepointdelete" (ngSubmit)="DeleteServiceSubmited()">
      <div class="modal-body">
        <p>
          Please Assign New Service Point for facility.
        </p>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">
          Service Point Name
        </label>
        <div class="col-sm-8 ">
          <select class="select2_group form-control" [ngClass]="{ 'is-invalid':  deleteservicesubmitted && service.servicePointName.errors}" formControlName="servicePointName" id="servicePointId" (change)="DeleteServiceonChange($event.target.value)">
            <option value="" disabled="disabled" [selected]="servicePointDefault === 0">Select Service Point Name</option>
            <option *ngFor="let servicePoint of this.Servicelist" [selected]="servicePoint.servicePointId === servicePointDefault" [value]="servicePoint.servicePointId">{{servicePoint.servicePointName}}</option>
          </select>
          <div class="invalid-feedback" *ngIf=" deleteservicesubmitted && service.servicePointName.errors?.required">
            <sup>*</sup>Service Point Name is required
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeservicepoint()">Close</button>
        <button type="submit" class="btn btn-danger">Ok</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- /page content -->
