<side-bar></side-bar>
<topnav-bar></topnav-bar>
<div class="right_col " role="main" style="min-height:1675px" *ngIf="Isappoinment == true">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <h3>Appointments Information</h3>
        <p>
          <a [routerLink]="" (click)="CreateAppointment(appointmentModal, appointmentCreate)" style="float: right;padding: 20px;font-weight: bold;"><i class="icons fa fa-plus" title="Add Appointment"> Appointment</i></a>
        </p>
        <table class='table'>
          <thead>
            <tr>
              <th>Client Name</th>
              <th>Prior Appointment Date</th>
              <th>Appointment Date </th>
              <th>Appointment Time</th>
              <th>Next Appointment Date</th>
              <th>Action</th>
              <th>History</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="this.appointmentsdata?.length == 0">
              <td colspan="7" class="text-center font-weight-bolder" style="font-size: xx-large;color: grey"> NO RECORD FOUND</td>
            </tr>
            <tr *ngFor="let appointement of this.appointmentsdata">
              <td>{{appointement.fullName}}</td>
              <td>{{appointement.priorAppointmentDate | date: "mediumDate"}}</td>
              <td>{{appointement.appointmentDate | date: "mediumDate"}}</td>
              <td>{{appointement.appointmentTime | date: "shortTime"}}</td>
              <td>{{appointement.nextAppointmentDate | date: "mediumDate"}}</td>
              <td>
                <a [routerLink]="" (click)="SendReminder(appointement)"><i class="icons fa fa-send-o" title="Send Reminder"></i></a>
              </td>
              <td>
                <a [routerLink]="" (click)="ViewDetails(appointement.id)"><i class="icons fa fa-eye" title="View Details"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <br />
</div>
<!--<div class="col-md-3">
  <app-viewdetails (IsShow)="onClicked($event)"></app-viewdetails>
</div>-->
<div *ngIf="Isshow==true">
  <app-viewdetails [viewdatadetails]="viewdatadetails"></app-viewdetails>
</div>
<custom-footer></custom-footer>
<ng-template #appointmentModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="appointmentModalLabel">Appointment Form</h5>
    <button type="button" class="close pull-right" (click)="closepopup()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2 class="modal-title" id="appointmentModalLabel">Contact Information</h2>
    <br />
    <form [formGroup]="appointmentCreateForm" (ngSubmit)="Submit()">
      <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label">First name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid':  isSubmitted && g.firstName.errors}" formControlName="firstName">
          <div *ngIf=" isSubmitted && g.firstName.errors" class="invalid-feedback">
            <div *ngIf="g.firstName.errors.required"><sup>*</sup>First Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-sm-4 col-form-label">Last name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid':  isSubmitted && g.lastName.errors}" formControlName="lastName">
          <div *ngIf=" isSubmitted && g.lastName.errors" class="invalid-feedback">
            <div *ngIf="g.lastName.errors.required"><sup>*</sup>Last name is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="phoneNo" class="col-sm-4 col-form-label">Phone number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid':  isSubmitted && g.phoneNo.errors }" formControlName="phoneNo">
          <div *ngIf=" isSubmitted && g.phoneNo.errors && g.phoneNo.invalid" class="invalid-feedback">
            <div *ngIf="g.phoneNo.errors.required"><sup>*</sup>Phone number is required </div>
            <div *ngIf="g.phoneNo.errors.pattern">Please, Enter 10 digit Phone Number.</div>
          </div>
        </div>
      </div>
      <h2 class="modal-title" id="appointmentModalLabel">Appointment Details</h2>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Facility</label>
        <div class="col-sm-8">
          <select class="custom-select" [ngClass]="{ 'is-invalid':  isSubmitted && g.facilityId.errors}" formControlName="facilityId" (change)="GetServicePoint($event)">
            <option value="">Choose Facility Name</option>
            <option *ngFor="let facility of facilitys" [value]="facility.facilityId">{{facility.facilityName}}</option>
          </select>
          <div class="invalid-feedback" *ngIf=" isSubmitted && g.facilityId.errors?.required">
            <sup>*</sup>Facility Name is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Service point name</label>
        <div class="col-sm-8">
          <select class="custom-select" [ngClass]="{ 'is-invalid':  isSubmitted && g.servicePointId.errors}" formControlName="servicePointId">
            <option value="">Choose Service Point Name</option>
            <option *ngFor="let service of Servicelist" [value]="service.servicePointId">{{service.servicePointName}}</option>
          </select>
          <div class="invalid-feedback" *ngIf=" isSubmitted && g.servicePointId.errors?.required">
            <sup>*</sup>Service Point is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Appointment date</label>
        <div class="col-sm-8">
          <ng-bootstrap-datetime-angular disabled style="padding: 0 !important;" class="form-control" placeholder="Select Datetime" inputDatetimeFormat="dd/MM/yyyy hh:mm" [ngClass]="{ 'is-invalid':  isSubmitted && g.appointmentDate.errors}" formControlName="appointmentDate">
          </ng-bootstrap-datetime-angular>
          <div class="invalid-feedback" *ngIf=" isSubmitted && g.appointmentDate.errors?.required">
            <sup>*</sup>Appointment Date is required 
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closepopup()">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div> 
</ng-template>

