<side-bar></side-bar>
<topnav-bar></topnav-bar>
<div class="right_col" role="main" style="min-height: 1665px;">
  <div class="row">
    <div class="col-md-12 col-sm-12" style="margin:-10px">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{title}} </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <form [formGroup]="userForm" (ngSubmit)="save()" class="form-horizontal form-label-left" #formDir="ngForm" novalidate>
            <div class="item form-group">
              <label class="col-form-label col-md-3 col-sm-3 label-align" for="firstName">
                First Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 ">
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && firstName.errors }" />
                <div *ngIf="isSubmitted && firstName.errors" class="invalid-feedback">
                  <div *ngIf="firstName.errors.required">First Name is required</div>
                </div>
              </div>
              </div>
              <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">
                  Last Name
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input type="text" id="last-name" name="last-name" class="form-control" formControlName="lastName" data-parsley-id="7">
                </div>
              </div>
              <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">
                  Email <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input id="email" class="form-control" (blur)="checkemail($event, email)" type="text" [ngClass]="{ 'is-invalid':  isSubmitted && email.errors }" formControlName="email" data-parsley-id="9">
                  <div *ngIf="isSubmitted && email.errors" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                  </div>
                  <ul class="existsclass parsley-errors-list filled" id="parsley-id-5">
                    <li class="parsley-required">This email is already exists</li>
                  </ul>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label for="password" class="col-form-label col-md-3 col-sm-3 label-align">
                    Password <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 ">
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && password.errors }" />
                    <div *ngIf="isSubmitted && password.errors" class="invalid-feedback">
                      <div *ngIf="password.errors.required">Password is required </div>
                      <div *ngIf="password.errors.minlength">Password must be at least 4 characters</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">Role Name<span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 ">
                  <select class="form-control" data-val="true" [ngClass]="{ 'is-invalid': isSubmitted && roleId.errors }" formControlName="roleId">
                    <option value="">--Select Role--</option>
                    <option *ngFor="let userrole of this.roleList"
                            value={{userrole.roleId}}>
                      {{userrole.roleName}}
                    </option>
                  </select>
                  <div *ngIf="isSubmitted && roleId.errors" class="invalid-feedback">
                    <div *ngIf="roleId.errors.required">Please select any role name !</div>
                  </div>
                </div>
              </div>
              <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                <div class="radio">
                  <label>
                    <input type="radio" name="gender" formControlName="gender" value="male">Male
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="gender" formControlName="gender" value="female">Female
                  </label>
                </div>
              </div>
              <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">
                  Phone No<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input id="phoneNo" class="form-control" type="text" [ngClass]="{ 'is-invalid':  isSubmitted && phoneNo.errors }" formControlName="phoneNo" data-parsley-id="9" maxlength="10">
                  <div *ngIf="isSubmitted && phoneNo.errors" class="invalid-feedback">
                    <div *ngIf="phoneNo.errors.required">Phone Number is required </div>
                    <div *ngIf="phoneNo.errors.pattern">Please, Enter 10 digit Phone Number </div>
                  </div>
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                  <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
                  <button type="submit" class="btn btn-success btnSubmit">Save</button>
                </div>
              </div>
</form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <custom-footer></custom-footer>

